<div class="well-sm" style="margin: 5px; border-left: 2px solid #B4CDCD; ">
	<blockquote style="margin: 5px;">
		<small>Created <%= distance_of_time_in_words_to_now(comment.created_at) %> ago</small><small> by <%= comment.user.name %></small>
		<p><strong><%= comment.body %></strong></p>
		<footer><small><%= link_to "reply to comment #{comment.body}", post_image_new_comment_path(comment.post_image_id, comment.id), id: "new_comment_#{comment.post_image_id}_#{comment.id}", remote: true %></small></footer>
	</blockquote>
</div>