<h1>Posts</h1>
<% if current_user %>
	<%= link_to "New post", new_post_path, id: "new_link", remote: true %>
<% end %>
<% if !@posts %>
	<div id="posts">
		<div class="text-center">
			<%= render @posts %>
		</div>
	</div>
<% else %>
	<div id="firsttime"><p><i><b>No posts. Be the first!</b></i></p></div>

<% end %>